* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    
}

main {
    display: flex;
    flex-direction: row;
}

.main-content {
    flex: 60%;
    padding-top: 100px;
    padding-left: 20px;
}

.innercontainer {
    display: inline-block;
}

.sidebar {
    flex: 40%;
    color: white;
    padding: 10px;
}

.new-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
}

body {
    background-image: url('https://apcagcatap.github.io/WEBPROG_VUEjs/home/images/Screenshot%202025-01-12%20031936.png'); 
    background-size: cover; 
    background-position: center;
}
