* {
  box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header, footer {
    background-color: #f0f0f0;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;
}

.main-content {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 60%;
}

.sidebar {
    background-color: dodgerblue;
    padding: 10px;
    flex: 40%; 
}
