    /*flexbox*/
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .container {
        display: grid;
        grid-template-rows: auto auto auto;
    }

    header {
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    footer {
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }


    main {
        display: flex;
        flex-direction: row;
        height: 500px;
        align-items: center; /* Vertically center content */
        justify-content: center; /* Horizontally center content */
    }

    .main-content {
        flex: 60%;
        padding-top: 100px;
        padding-left: 20px;
    }

    .innercontainer {
        display: inline-block;
    }

    .sidebar {
        flex: 40%;
        color: white;
        padding: 10px;
    }

    .new-container {
        color: white;
        padding: 20px;
    }

    .main-content1 {
        flex: 80%;
        padding-top: 100px;
        padding-left: 20px;
    }

    .innercontainer1 {
        display: inline-block;
    }

    .sidebar1 {
        flex: 20%;
        color: white;
        padding: 10px;
    }

    
    body {
    background-image: url('https://apcagcatap.github.io/WEBPROG_VUEjs/home/images/1.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    }


