h1 {
    color: white;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}


.purple, .white {
    display: inline;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

.purple {
    color: #ce5efe;
}

.white {
    color: white;
}

.purple1, .white1 {
    display: inline;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    text-align: center;
}

.purple1 {
    color: #ce5efe;
}

.white1 {
    color: white;
}

 .purple2, .white2 {
    display: inline;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    text-align: center;
}

.purple2 {
    color: #ce5efe;
}

.white2 {
    color: white;

}

.glowing-text {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: bold;
    text-align: center;
    color: white; 
    text-shadow: 
        0 0 5px #ce5efe,
        0 0 10px #ce5efe,
        0 2px #ce5efe,
        0 0 40px #ce5efe,
        0 0 80px #ce5efe;
}

.glowing-text {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: bold;
    text-align: center;
    color: white; 
    text-shadow: 
        0 0 5px #ce5efe,
        0 0 10px #ce5efe,
        0 2px #ce5efe,
        0 0 40px #ce5efe,
        0 0 80px #ce5efe;
}

.text {
    font-size: 30px; 
    color: #ce5efe;
    letter-spacing: 5px; 
    font-family: 'Josefin Sans', sans-serif; 
    border-right: 5px solid;
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden;
    animation: typing 2s steps(30, end) infinite, cursor 0.2s step-end infinite alternate, fade 4s infinite alternate;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes cursor {
    0% { border-color: transparent; }
    100% { border-color: #ce5efe; }
}
