h1{
	color: white;
}

h2 {
	color: white;
}

.glowing-text {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color:white; 
    text-shadow: 
        0 0 5px #ce5efe,    /* First layer of glow */
        0 0 10px #ce5efe,   /* Second layer for stronger glow */
        0 20px #ce5efe,   /* Larger spread for outer glow */
        0 0 40px #ce5efe,   /* Additional color for depth */
        0 0 80px #ce5efe;   /* Final large glow */
}
