.custom-shape-divider-top-1736507983 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1736507983 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 246px;
}

.custom-shape-divider-top-1736507983 .shape-fill {
    fill: #000000;
}
